		body {
			position: absolute;
			left : 50%;
			margin-left: -510px;
			width : 1020px;
		}
		h1{ font-family: verdana, helvetica, sans-serif;
			font-size: 32pt;
			text-align: center;
			padding: 0px;

		}
		h2{
			border-width: 0px;
			border-bottom-width : 1px;
			border-color: black;
			border-style: solid;
		}
		h3{
		
		  font-size: 2rem;
		  color: yellow;
		  text-align: right;
		  width: 160px;
		  position: absolute;
		  right: 4%;
		  z-index: 3000;
		  text-shadow: 2px 2px 1px black;
		  line-height: 2rem;
		  padding-top: 0.3rem;
		}
		a{
			text-decoration: none;
			color: black;
		}
		p{ font-size: 15pt;
		}
		div{
			margin: 15pt;
			font-size: 15pt;
		}
		img{
			position: absolute;
			margin: 0;
			transition: width 2s, height 2s;
		}
		img:hover{
			margin: 0;
			width: 100%;
			height: 100%;
		}
		aside {
			border-right : 6px solid black;
			display: flex;
			flex-flow: column;;
			align-items: stretch;
			flex: 3;
			width: 300px;
		}
		aside div{
			margin-bottom: 19px;
		}
		label, select, input {
			display: block;
		}
		label{
			margin-bottom: 4px;
		}
		select, input, button{
			width: 100%
		}
		input{
			padding: 5px;
			width: 201px;
		}
		button{
			background: green;
			color: red;
			padding: 5px 0;
			border: none;
		}
		main {
		  display: flex;
		  flex-flow: row wrap;
		  justify-content: space-around;
		  flex: 7;
		}

		section {
		  width: 45%;
		  margin: 5px;
		  background-color: black;
		  position: relative;
		  height: 215px;
		}

		section img {
		  width: 100%;
		  display: block;
		  position: absolute;
		  bottom: 0px;
		}

		section p {
		  color: yellow;
		  background: black;
		  width: 50px;
		  height: 50px;
		  line-height: 50px;
		  text-align: center;
		  border-radius: 50%;
		  box-shadow: 2px 2px 1px yellow;
		  position: absolute;
		  right: 10px;
		  bottom: -6px;
		  z-index: 2000;
		}
		.post{
			background-color: red;
			padding: 20px;
			margin: 10px;
		}
		.ani{
			position : relative;
			animation-name: slide;
			animation-timing-function: linear;
			animation-duration: 2s;
	
		}
		@keyframes slide
		{
			0% {left : 100%;}
			100% {left : 0%;}
		}
		.coll{
			column-count: 2;
			column-gap: 30px;
			column-width: 400px;
			column-rule-style: solid;
			column-rule-width: 1px;

		}
		.current{
			padding: 1px;
			border-color: red;
			border-style : solid;
			border-left-width: 0;
			border-right-width: 0;
		}
		.box{
			position: relative;
			display: inline-block;
			width : 350px;
			height: 350px;
			border-style: solid;
			border-width: 1px;
			border-color: black;
			margin: 10px;

		}
		.special{
			padding: 10pt;
			border: thick solid;
		}
		.but{
			font-size: 15pt;
			width: 7em;
			height: 1.5em;
			color: white;
			background-color: green;
		}
		.red{
			background-color: red;
		}