
		h1{ font-family: verdana, helvetica, sans-serif;
			font-size: 32pt;
			text-align: center;
		}
		a{
			text-decoration: none;
		}
		p{ font-size: 15pt;
		}
		div{
			margin: 15pt;
			font-size: 15pt;
		}
		.special{
			padding: 10pt;
			border: thick solid;
		}
		.but{
			font-size: 15pt;
			width: 7em;
			height: 1.5em;
			color: white;
			background-color: green;
		}
		.red{
			background-color: red;
		}